.bc-page-container {
    margin-top: 50px;
}

/* Slideshow */

.sp-slideshow {
    width: 100%;
}

.sp-slideshow .sp-slide {
    width: 100%;
    padding: 10px;
    background-color: #E6E6E6;
}

.sp-search-highlight {
    font-weight: bold;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

/* First level of nav */
.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #F8F8F8;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}

.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #E5E5E5;
}

.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #008292;
    background-color: transparent;
    border-right: 1px solid #008292;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-top: 0;
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}
.bs-sidebar .nav .nav .nav {
     display: none; /* Hide by default, but at >768px, show it */
 }
.bs-sidebar .nav .nav .nav > li > a {
    padding-left: 42px;
    text-indent: -12px;
}
.bs-sidebar .nav .nav .nav > li > a:before {
    content: '■ ';
}
.bs-sidebar .nav .nav .nav .nav {
     display: none; /* Hide by default, but at >768px, show it */
}
.bs-sidebar .nav .nav .nav .nav > li > a {
    padding-left: 54px;
    text-indent: -12px;
}
.bs-sidebar .nav .nav .nav .nav .nav {
     display: none; /* Hide by default, but at >768px, show it */
}
.bs-sidebar .nav .nav .nav .nav .nav > li > a {
    padding-left: 66px;
    text-indent: -12px;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    .bs-sidebar .nav .nav > .active > ul {
        display: block;
    }
    .bs-sidebar .nav .nav .nav > .active > ul {
        display: block;
    }
    .bs-sidebar .nav .nav .nav .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 80px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}

/* Content Tweaks */
p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

.row {
    margin-bottom: 20px;
}

.sp-page-content div.column > *:first-child {
    margin-top: 0;
}

/* Footer */
footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
